@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Merriweather&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------------------------------------------*/
body {
  font-family: "Inter", sans-serif;
  color: white;
  letter-spacing: 5px;
}

.wrapper {
  height: 100%;
  background-image: url(../img/bg-day.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.main {
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  padding: 56px 15px 0px;
  margin: 0 auto;
}

.time {
  position: relative;
  height: 40%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.time__title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.time__subtext {
  position: relative;
  left: -20px;
}
.time__icon {
  width: 24px;
  height: 24px;
}
.time__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.time__clock {
  font-size: 200px;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 200px;
}
.time__utc {
  position: relative;
  left: 10px;
  bottom: 20px;
  font-size: 32px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
}
.time__button {
  position: absolute;
  right: 0;
  height: 54px;
  width: 146px;
  border: 1px solid #FFFFFF;
  border-radius: 28px;
  background-color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}
.time__local {
  display: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.time__more {
  position: relative;
  left: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  opacity: 0.5;
}
.time__krug {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.time__arrow {
  position: relative;
  top: 2px;
}
.time__button:hover .time__krug {
  background-color: #999999;
}

.random {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  left: 0;
  max-width: 573px;
  letter-spacing: 0.9px;
  font-family: "Merriweather", serif;
}
.random__btn {
  background-color: transparent;
}
.random__img {
  position: absolute;
  top: 22px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.random__btn:hover .random__img {
  -webkit-transform: rotate(120deg) scale(1.1);
          transform: rotate(120deg) scale(1.1);
}
.random__title {
  font-size: 18px;
  line-height: 28px;
}
.random__subtitle {
  margin-top: 20px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.novis {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
}

.info {
  display: none;
  height: 40%;
  min-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.info__wrapper {
  padding: 74px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1110px;
  margin: 0 auto;
}
.info__block {
  margin-bottom: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  position: relative;
  z-index: 6;
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  color: #303030;
  letter-spacing: 0;
}
.info__text {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2.5px;
  color: #303030;
}

.info::before {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
}

.active {
  display: block;
}

/*----------------------------------------------------------------*/
@media (max-width: 688px) {
  .time__clock {
    font-size: 150px;
    line-height: 150px;
  }
  .time__utc {
    font-size: 25px;
  }
  .time__button {
    bottom: 40px;
    left: 0;
  }
  .time__local {
    display: block;
  }

  .random {
    max-width: 500px;
  }
  .random__title {
    padding-right: 20px;
  }
  .random__img {
    right: 0;
  }
}
@media (max-width: 520px) {
  .time__clock {
    font-size: 120px;
  }
  .time__utc {
    font-size: 20px;
  }
  .time__subtext {
    display: none;
  }
  .time__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 380px) {
  .main {
    padding: 25px 15px 25px;
  }

  .time {
    height: 35%;
  }
  .time__title {
    font-size: 18px;
  }
  .time__clock {
    font-size: 100px;
    line-height: 120px;
  }
  .time__button {
    bottom: 0;
    left: 0;
  }

  .random__title {
    font-size: 14px;
    line-height: 24px;
  }
}