@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------------------------------------------*/
body {
  font-family: "Inter", sans-serif;
  color: white;
  letter-spacing: 5px;
}

.wrapper {
  height: 100vh;
  background-image: url(../img/bg-day.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main {
  height: 100%;
  max-width: 1140px;
  padding: 56px 15px 98px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time {
  position: relative;
  height: 40%;
}
.time__title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.time__icon {
  width: 24px;
  height: 24px;
}
.time__clock {
  font-size: 200px;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 200px;
}
.time__button {
  position: absolute;
  right: 0;
  height: 54px;
  width: 146px;
  border: 1px solid #FFFFFF;
  border-radius: 28px;
  background-color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}
.time__more {
  position: relative;
  left: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  opacity: 0.5;
}
.time__krug {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.time__arrow {
  position: relative;
  top: 2px;
}
.time__button:hover .time__krug {
  background-color: #999999;
}

.random {
  position: relative;
  max-width: 573px;
  letter-spacing: 0.9px;
  font-family: "Merriweather", serif;
}
.random__btn {
  background-color: transparent;
}
.random__img {
  position: absolute;
  top: 22px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.random__btn:hover .random__img {
  -webkit-transform: rotate(120deg) scale(1.1);
          transform: rotate(120deg) scale(1.1);
}
.random__title {
  font-size: 18px;
  line-height: 28px;
}
.random__subtitle {
  margin-top: 20px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

/*----------------------------------------------------------------*/