*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Merriweather&display=swap');


/*----------------------------------------------------------------*/

body {
    font-family: 'Inter', sans-serif;
    color: white;
    letter-spacing: 5px;
}

.wrapper {
    height: 100%;
    background-image: url(../img/bg-day.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.night {
    background-image: url(../img/bg-night.jpg);
}

.main {
    height: 100%;
    max-width: 1140px;
    padding: 0px 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 10;
}

.time {
    position: relative;
    height: 40%;

		&__title {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 4px;
            display: flex;
            align-items: center;
            gap: 16px;
		}

        &__subtext {
            position: relative;
            left: -20px;
        }

		&__icon {
            width: 24px;
            height: 24px;
		}

        &__block {
            display: flex;
            align-items: flex-end;
        }

		&__clock {
            font-size: 200px;
            font-weight: 700;
            letter-spacing: -5px;
            line-height: 200px;
		}

        &__utc {
            position: relative;
            left: 10px;
            bottom: 20px;
            font-size: 32px;
            font-weight: 300;
            line-height: 28px;
            letter-spacing: 0;
        }

		&__button {
            position: absolute;
            right: 0;
            height: 54px;
            width: 146px;
            border: 1px solid #FFFFFF;
            border-radius: 28px;
            background-color: white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 13px;
		}

        &__local {
            display: none;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

		&__more {
            position: relative;
            left: 5px;
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            opacity: 0.5;
		}

		&__krug {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #303030;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
		}

        &__arrow {
            position: relative;
            top: 2px;
            transition: 0.5s;
        }

        &__button:hover &__krug {
            background-color: #999999;
        }
}

.trip {
    top: -1px;
    transform: rotate(180deg);
}



.random {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 56px;
    transition: 0.5s;
    max-width: 573px;
    letter-spacing: 0.9px;
    font-family: 'Merriweather', serif;

    &__btn {
        background-color: transparent;
    }

    &__img {
        transition: 0.5s;
    }

    &__btn:hover &__img {
        transform: rotate(120deg) scale(1.1);
    }

    &__block {
        margin-right: 20px;
    }

    &__title {
        font-size: 18px;
        line-height: 28px;
    }

    &__subtitle {
        margin-top: 20px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
    }
}

.novis {
    transform: translateY(-300%);
}

.info {
    display: none;
    height: 40%;
    min-width: 100%;
    transition: 0.5s;

    &__bg {
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0;
        background: rgba(255, 255, 255, 0.75);
        color: #303030;
    }

    &__wrapper {
        padding: 74px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1110px;
        margin: 0 auto;
        z-index: 5;
    }

    &__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        position: relative;
        z-index: 6;
        font-size: 56px;
        font-weight: 700;
        line-height: 68px;
        letter-spacing: 0;
    }
    
    &__text {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 2.5px;
    }

    .block1{
        flex: 1 1 50%;
    }
    .block2 {
        flex: 0 0 300px;
    }
    .block3 {
        flex: 1 1 50%;
    }
    .block4 {
        flex: 0 0 300px;
    }
}


.nightzone {
    background: rgba(0, 0, 0, 0.75);
    color: white;
}

.active {
    display: block;
}



/*----------------------------------------------------------------*/

@media (max-width: 688px) {
    .main { 
        padding: 0px 15px 0px;
    }   

    .time {
        &__clock {
            font-size: 150px;
            line-height: 150px;
        }

        &__utc {
            font-size: 25px;
        }

        &__button {
            position: relative;
            top: 20px;
        }

        &__local {
            display: block;
        }
    }

    .random {
        max-width: 500px;
    }

    .info {
        height: 40%;

        &__wrapper {
            padding: 40px 15px;
        }

        &__block {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 40px;
            line-height: 44px;
            margin-bottom: 30px;
        }

        &__text {
            font-size: 16px;
            line-height: 28px;
        }

        .block2 {
            flex: 1 1 100%;
        }
        
        .block4 {
            flex: 1 1 100%;
        }
    }
}

@media (max-width: 520px) {
    .time {
        &__clock {
            font-size: 120px;
        }
        &__utc {
            font-size: 20px;
        }

        &__subtext {
            display: none;
        }

        &__block {
            flex-wrap: wrap;
        }
    }
    .info {
        &__wrapper {
            padding: 40px 15px;
        }

        &__block {
            font-size: 24px;
        }
        &__text {
            font-size: 12px;
        }
    }
}

@media (max-width: 380px) {
    .main {
        padding: 0px 15px;
    }
    
    .time {
        height: 35%;
        &__title {
            font-size: 18px;
        }

        &__clock {
            font-size: 100px;
            line-height: 120px;
        }

        &__button {
            height: 45px;
            width: 136px;
        }

        &__more {
            font-size: 14px;
        }

        &__krug {
            height: 35px;
            width: 35px;
        }
    }
    .random {
        &__title{
            font-size: 14px;
            line-height: 24px;
        }
    }
}